<!--<html lang="en">-->
<!--<html ng-app="app">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
<!--<link rel='stylesheet' href='..view//css/base.css' />-->
<!--<script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>-->
<!--<link rel="stylesheet" href="../view/css/style.css" />-->
<!--<script src="script.js"></script>-->
<html ng-app="app">
<head>
    //<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample Site</title>
    <!--<link rel='stylesheet' href='..view//css/base.css' />-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>-->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>

</head>
<body ng-controller="Controller">
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home/dashboard">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> <input type="text" placeholder="Search.."></li>
                    <li><a href="/home/logout">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Hello Dashboard</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
        </p>
          <p>
              <a class="btn btn-lg btn-primary" href="/home/createProject" role="button">Create new project »</a>
          </p>
      </div>

        <profile ng-repeat="project in projects" data="project"></profile>

</div>
    </body>
</html>


<style>
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 0 16px;
    }

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

    .button:hover {
        background-color: #555;
    }

    #myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 10%;
        height: 20px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 20px;
        color: white;
    }

</style>



<!--countdown script-->
<!--<script>-->
    <!--// Set the date we're counting down to-->
    <!--var countDownDate = new Date("Sep 5, 2018 15:37:25").getTime();-->

    <!--// Update the count down every 1 second-->
    <!--var x = setInterval(function() {-->

        <!--// Get todays date and time-->
        <!--var now = new Date().getTime();-->

        <!--// Find the distance between now an the count down date-->
        <!--var distance = countDownDate - now;-->

        <!--// Time calculations for days, hours, minutes and seconds-->
        <!--var days = Math.floor(distance / (1000 * 60 * 60 * 24));-->
        <!--var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));-->
        <!--var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));-->
        <!--//var seconds = Math.floor((distance % (1000 * 60)) / 1000);-->

        <!--// Output the result in an element with id="demo"-->
        <!--document.getElementById("countdown").innerHTML = days + "d " + hours + "h "-->
            <!--+ minutes + "m " ;// + seconds + "s ";-->

        <!--// If the count down is over, write some text-->
        <!--if (distance < 0) {-->
            <!--clearInterval(x);-->
            <!--document.getElementById("demo").innerHTML = "EXPIRED";-->
        <!--}-->
    <!--}, 1000);-->
<!--</script>-->