<div class="column">
  <div class="card">
    <img ng-src = {{project.images['0'].img_name}} alt="Mike" style="width:100%">
    <div class="container">
      <h2>{{project.name}}</h2>
      <p class="title">{{project.category}}</p>
      <p id="location">{{project.location}}</p>
	  <i><span ng-bind="project.description"></span></i>
      <p id="countdown"></p>
      <div id="myProgress">
        <div id="myBar">10%</div>
      </div>
      <p>
        <button class="button" onclick="window.location.href='loadProject?id=42'" >{{project.ID}}</button>
      </p>
    </div>
  </div>
</div>

