<div class="column">
  <div class="card">
    <img ng-src = {{project.images['0'].img_name}} alt="Mike" style="width:100%">
    <div class="container">
      <h2>{{project.name}}</h2>
      <p class="title">{{project.category}}</p>
      <p id="location">{{project.location}}</p>
	  <p id="projectID" ng-model="projectID">{{project.ID}}</p>
	  <i><span ng-bind="project.description"></span></i>
      <p id="countdown"></p>
      <div id="myProgress">
        <div id="myBar">10%</div>
      </div>
	  <form id="editform" class="form-horizontal" role="form" method="get" action="/loadProject"}>
         <button class="button">Show details</button>
        <input type="projectID" class="form-control" name="id" value={{project.ID}}>
    </form>
    </div>
  </div>
</div>

